/**
 * Place your custom CSS styles here.
 **/

 button{
   position: relative;
   width: 150px;
   height: 35.41px;
   left:60.1%;
   bottom: 46.6px;
   border: none;
   background: #687dd9;
   color: #fff;
   cursor: pointer;
   padding:10px;
   font-size: 13px;
   font-family: arial,sans-serif;
   font-weight: bold;
   font-family: Helvetica;
   text-align: center;
   border-radius:2px;
   text-decoration: none
 }
button:focus{
   background: #5f6adb;

 }
 button:active{
   background: #3e4edb;
 }
